# ==========================================
# CẤU HÌNH BIẾN MÔI TRƯỜNG MẪU (ENV TEMPLATE)
# ==========================================

# Cổng mạng của Socket Server Gateway (Mặc định: 81)
PORT=81

# Môi trường chạy (development | production)
NODE_ENV=production

# Địa chỉ Server mà bộ giả lập (Mock ESP32) sẽ kết nối tới
WS_SERVER_URL=ws://localhost:81?role=hardware

# Tên nhận diện hệ thống
GATEWAY_NAME=Watering Socket Gateway
